---
dist: xenial
sudo: required

language: python
python:
  - "3.6"

env:
  global:
    - ANSIBLE_VERSION=2.5
    - SDS_RELEASE=19.10
  matrix:
    - DISTRIBUTION: centos
      VERSION: 7
#    - DISTRIBUTION: centos
#      VERSION: 8
    - DISTRIBUTION: ubuntu
      VERSION: 18.04

services:
  - docker

before_install:
  # Install latest Git
  - sudo apt-get update
  - sudo apt-get install --only-upgrade git
  # Allow fetching other branches than master
  #- git config remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
  # Fetch the branch with test code
  #- git fetch origin docker-tests
  - cd products/sds
  #- git worktree add docker-tests origin/docker-tests
  # retrieve centralized script
  - |
    for i in docker-tests.sh functional-tests.sh; do
      wget -O docker-tests/${i} https://raw.githubusercontent.com/open-io/ansible-role-openio-skeleton/docker-tests/${i}
    done
  # Lint
  # - python3 -m venv openio_venv
  # - . openio_venv/bin/activate
  # - pip install --upgrade pip
  - pip install -r ansible.pip
  - pip install yamllint

  - ./docker-tests/docker-tests.sh && export TRINODE_ID1=$(docker ps -qa | head -n 1)
  - ./docker-tests/docker-tests.sh && export TRINODE_ID2=$(docker ps -qa | head -n 1)
  - ./docker-tests/docker-tests.sh && export TRINODE_ID3=$(docker ps -qa | head -n 1)

  - cp docker-tests/inventory.yml inventory.yml
  - |
    for i in $(seq 1 3); do 
      count="TRINODE_ID$i"
      sed -i -e "s/IP_ADDRESS_OF_NODE$i/${!count}/" inventory.yml
    done
script:
  # Lint
  - yamllint .

  # use-case: add second IP on eth0
  - docker exec -ti $TRINODE_ID3 ip addr add 172.17.0.33/16 dev eth0
  - docker exec -ti $TRINODE_ID3 ip addr show

  - docker exec -ti $TRINODE_ID1 ip --brief addr | grep -v -E '^lo'
  - docker exec -ti $TRINODE_ID2 ip --brief addr | grep -v -E '^lo'
  - docker exec -ti $TRINODE_ID3 ip --brief addr | grep -v -E '^lo'

  # Download roles
  - ./requirements_install.sh

  # ansible version
  - ansible --version

  # syntax check
  - ansible-playbook -i inventory.yml main.yml --syntax-check

  # run
  - ./deploy_and_bootstrap.sh

  # Run functional tests on the container
  - |
    for i in 2 3 33; do 
      echo '----------' 172.17.0. $i '----------'
      SUT_IP=172.17.0.$i ./docker-tests/functional-tests.sh
    done

  # loss of 1 server
  #- docker stop $TRINODE_ID1
  #- sleep 60
  #- SUT_IP=172.17.0.33 ./docker-tests/functional-tests.sh
...
