---
# Package repository to use
openio_sds_release: "18.04"

# Namespace
namespace: OPENIO
namespace_meta1_digits: "2"
# Replication
namespace_storage_policy: THREECOPIES
# Parts of objects
namespace_chunk_size_megabytes: 100
# Erasure coding
openio_ecd: true

# Network
openio_bind_interface: "{{ ansible_default_ipv4.alias }}"
openio_bind_address: "{{ hostvars[inventory_hostname]['ansible_' ~ openio_bind_interface]['ipv4']['address'] }}"

# S3 users
openio_oioswift_users:
  - name: "demo:demo"
    password: "DEMO_PASS"
    roles:
      - admin

# sysctl
openio_manage_sysctl: true

# Account
default_account: openio

########
# ---- Low memory nodes (ARM, docker, ...)
#openio_account_workers: 1
#openio_oioswift_workers: 1
#namespace_meta1_digits: "1"
#openio_oioeventagent_workers: 1
#openio_zookeeper_parallel_gc_threads: 1
#openio_zookeeper_memory: "256M"
#openio_minimal_score_for_volume_admin_bootstrap: 5
#openio_minimal_score_for_directory_bootstrap: 5
# ---- End Low memory nodes
...
