#!/bin/bash
{% set vip = openio_bind_address %}
YELLOW="\e[33m"
NC="\e[39m"

trap 'exit 1' INT
{% if openio_environment is defined %}
# Environment variables
{% for key in openio_environment.keys() %}
export {{ key }}={{ openio_environment[key] }}
{% endfor %}
{% if openio_environment.http_proxy is defined or openio_environment.https_proxy is defined %}
export NO_PROXY={{ vip }}
{% endif %}
# End environment variables
{% endif %}

echo '## OPENIO'
export OIO_NS={{ namespace }}

echo -e $YELLOW Status of services. $NC
gridinit_cmd status -c
echo --

echo -e $YELLOW Display the cluster status. $NC
openio cluster list
echo --

echo -e $YELLOW Upload the /etc/passwd file to the bucket MY_CONTAINER of the project MY_ACCOUNT. $NC
openio object create MY_CONTAINER /etc/passwd --oio-account MY_ACCOUNT
echo --

echo -e $YELLOW Get some information about your object. $NC
openio container show MY_CONTAINER --oio-account MY_ACCOUNT
echo --

echo -e $YELLOW List object in container. $NC
openio object list --oio-account MY_ACCOUNT MY_CONTAINER
echo --

echo -e $YELLOW Find the services involved for your container. $NC
openio container locate MY_CONTAINER --oio-account MY_ACCOUNT
echo --

echo -e $YELLOW Save the data stored in the given object to the '--file' destination. $NC
openio object save MY_CONTAINER passwd --oio-account MY_ACCOUNT --file /tmp/passwd
head /tmp/passwd
echo --

echo -e $YELLOW Show the account informations. $NC
openio account show MY_ACCOUNT
echo --

echo -e $YELLOW Delete your object. $NC
openio object delete MY_CONTAINER passwd --oio-account MY_ACCOUNT
echo --

echo -e $YELLOW Delete your empty container. $NC
openio container delete MY_CONTAINER --oio-account MY_ACCOUNT
echo --

echo

echo '------'
echo '## AWS'

echo -e $YELLOW Create a bucket 'mybucket'. $NC
aws --endpoint-url http://{{ vip }}:6007 --no-verify-ssl s3 mb s3://mybucket
echo --

echo -e $YELLOW Upload the '/etc/passwd' file to the bucket 'mybucket'. $NC
aws --endpoint-url http://{{ vip }}:6007 --no-verify-ssl s3 cp /etc/passwd s3://mybucket
echo --

echo -e $YELLOW List your buckets. $NC
aws --endpoint-url http://{{ vip }}:6007 --no-verify-ssl s3 ls s3://mybucket --recursive --human-readable --summarize
echo --

echo -e $YELLOW Save the data stored in the given object to the given file. $NC
aws --endpoint-url http://{{ vip }}:6007 --no-verify-ssl s3 cp s3://mybucket/passwd /tmp/passwd.aws
head /tmp/passwd.aws
echo --

echo -e $YELLOW Delete your object. $NC
aws --endpoint-url http://{{ vip }}:6007 --no-verify-ssl s3 rm s3://mybucket/passwd
echo --

echo -e $YELLOW Delete your empty bucket. $NC
aws --endpoint-url http://{{ vip }}:6007 --no-verify-ssl s3 rb s3://mybucket
echo --

echo Done !

echo
echo ++++
echo -e ${YELLOW} AWS S3 summary:$NC
echo -e \ $YELLOW endpoint:$NC http://{{ vip }}:6007
echo -e \ $YELLOW region:$NC $(grep region /root/.aws/config |awk -F'=' '{print $2}')
echo -e \ $YELLOW access key:$NC $(grep aws_access_key_id /root/.aws/credentials |awk -F'=' '{print $2}')
echo -e \ $YELLOW secret key:$NC $(grep aws_secret_access_key /root/.aws/credentials |awk -F'=' '{print $2}')
echo -e \ $YELLOW ssl:$NC false
echo -e \ $YELLOW signature_version:$NC s3v4
echo -e \ $YELLOW path style:$NC true
