---
- name: Install requirements
  hosts: all
  gather_facts: true
  become: true
  environment: "{{ openio_environment }}"

  pre_tasks:
    - name: refresh facts
      setup:
      when: ansible_default_ipv4 is defined

  roles:
    - role: repositories
      openio_repository_products:
        sds:
          release: "{{ openio_sds_release }}"
    - role: ntp
...
